<!DOCTYPE html>
<html>
<head>
  <title>Siesta</title>
  <%= stylesheet_link_tag    "siesta/application", :media => "all" %>
  <%= javascript_include_tag "siesta/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
